.profile__add-button {
    background-color: transparent;
    min-width: 150px;
    min-height: 50px;
    border-color: #FFFFFF;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity:  0.6;
  }

@media screen and (max-width: /*708px*/945px) {
    .profile__add-button {
      min-width: 282px;  
    }
}